version: '3'

services:

  synapse:
    image: docker.io/matrixdotorg/synapse:latest
    restart: unless-stopped
    environment:
      - SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
    volumes:
      - /var/synapse/data:/data
    depends_on:
      - db
    #    ports:
    #      - 8008:8008/tcp
    networks:
      - synapse_network

  db:
    image: docker.io/postgres:12-alpine
    environment:
      - POSTGRES_USER=synapse
      - POSTGRES_PASSWORD=passwd
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    #    ports:
    #      - 5432:5432
    volumes:
      - /var/synapse/postgresql/data:/var/lib/postgresql/data
    networks:
      - synapse_network

  synapse-admin:
    image: awesometechnologies/synapse-admin:latest
    restart: unless-stopped
    ports:
      - "8010:80"
    networks:
      - synapse_network

  nginx:
    image: nginx:latest
    restart: unless-stopped
    volumes:
      - /etc/nginx/docker-config:/etc/nginx/conf.d
      - /etc/letsencrypt/:/etc/letsencrypt/
      - /var/log/nginx:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"
      - "8448:8448"
    depends_on:
      - synapse
      - synapse-admin
    networks:
      - synapse_network

  turnserver:
    image: instrumentisto/coturn
    restart: unless-stopped
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "5349:5349/tcp"
    environment:
      - TURNSERVER_LISTEN_PORT=3478
      - TURNSERVER_ALT_LISTEN_PORT=5349
      - TURNSERVER_MIN_PORT=49152
      - TURNSERVER_MAX_PORT=65535
      - TURNSERVER_REALM=atpmatrix.com
      - TURNSERVER_STATIC_AUTH_SECRET=TURNSERVER_STATIC_AUTH_SECRET
    volumes:
      - /var/synapse/turn:/etc/coturn
    networks:
      - synapse_network

  mautrix-telegram:
    container_name: mautrix-telegram
    image: dock.mau.dev/mautrix/telegram:latest
    restart: unless-stopped
    volumes:
      - /var/synapse/bridges/telegram/data:/data
    networks:
      - synapse_network
    ports:
      - "29318:29318"

  element-web:
    container_name: element-web
    image: vectorim/element-web
    restart: unless-stopped
    networks:
      - synapse_network

networks:
  synapse_network:
